body {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 60px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif
  }

  h1 {
	  font-size: 60px;
	  color: #1717c2;
   }